:root {
  --alignment: center;
  --primary-color: #d5def5;
  --secondary-color: #8594e4;
  --blackish-color: #2a2438;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #fffafa;
}

h1,
h2,
h3,
h4 {
  color: var(--blackish-color);
  text-align: var(--alignment);
}

h1 {
  font-size: 86px;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  font-size: 48px;
  padding-top: 40px;
  margin: 0;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
}

h4 {
  font-size: 18px;
  opacity: 0.7;
  margin: 10px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 40px 15px;
}
/*the links (a) stored inside the links class name div */
.links a {
  text-decoration: none;
  /* space between each link */
  margin: 20px;
  border: 2px solid var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

.paragraphs {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.paragraphs p {
  margin: 20px;
  border: 2px solid black;
  background: var(--primary-color);
  width: 200px;
  padding: 30px;
  line-height: 1.5;
}
.back-to-homepage {
  text-align: var(--alignment);
  color: var(--blackish-color);
  padding: 30px;
}

#email {
  color: var(--secondary-color);
  font-size: 20px;
}

#about {
  color: var(--primary-color);
  background: var(--secondary-color);
}

#contact-me {
  text-align: var(--alignment);
  font-size: 28px;
  padding-bottom: 75px;
}

/* to style the navigation bar appearance */
.container-fluid {
  background-color: pink;
}
